<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.wangjialin.junit"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<!-- 使用单元测试库 -->
    	<uses-library android:name="android.test.runner"/>
        <activity android:name=".HelloJunitActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    <!-- 声明Android框架和目标测试包 -->
    <instrumentation android:name="android.test.InstrumentationTestRunner" 
    	android:targetPackage="com.wangjialin.junit" android:label="Hello 
    	Android Test"/>
</manifest>