<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General Info</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>username</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>password</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Protocol</string>
			<key>Key</key>
			<string>protocol</string>
			<key>Values</key>
			<array>
				<string>HTTP</string>
				<string>SMTP</string>
				<string>NNTP</string>
				<string>IMAP</string>
				<string>POP3</string>
			</array>
			<key>Titles</key>
			<array>
				<string>HTTP</string>
				<string>SMTP</string>
				<string>NNTP</string>
				<string>IMAP</string>
				<string>POP3</string>
			</array>
			<key>DefaultValue</key>
			<string>SMTP</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Warp</string>
			<key>Key</key>
			<string>warp</string>
			<key>TrueValue</key>
			<string>Engaged</string>
			<key>FalseValue</key>
			<string>Disabled</string>
			<key>DefaultValue</key>
			<string>Engaged</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Warp Factor</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>warpFactor</string>
			<key>DefaultValue</key>
			<integer>5</integer>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>MaximumValue</key>
			<integer>10</integer>
			<key>MaximumValueImage</key>
			<string>rabbit.png</string>
			<key>MinimumValueImage</key>
			<string>turtle.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Additional Info</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>More Settings</string>
			<key>File</key>
			<string>More</string>
		</dict>
	</array>
</dict>
</plist>
